h1 {
  color: rgb(255, 40, 40);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"], button {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
